// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 752px;
  margin: auto;
  border: 1px solid;
  padding: 5px;
  margin-top: 50px;
}

.title {
  font-size: 2em;
  padding: 5px;
}

.text-pane {
  overflow: auto;
}

.left-pane, .middle-pane, .right-pane {
  float:left;
}

.buttons button {
  display: block;
}

.chart {
  height: 330px;
  padding: 10px;
}

.middle-pane {
  padding: 90px 5px 0 5px
}

.middle-pane input {
  display: block;
}

textarea {
  resize: none;
}

#result-ta:disabled {
  background-color: white;
}

.info-error {
  color: red;
}

.info-success {
  color: green;
}
